# MONGODB_URI: MongoDB connection string
MONGODB_URI="mongodb://localhost:27017/omskp"

# BETTER_AUTH_SECRET: Secret key for Better Auth encryption
BETTER_AUTH_SECRET="omskp-secure-auth-secret-key-2026-secret"

# BETTER_AUTH_URL: Base URL for authentication
BETTER_AUTH_URL="https://ais-dev-imv2gtiegvnhenegnl4vkb-142875536356.asia-southeast1.run.app"

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="https://ais-dev-imv2gtiegvnhenegnl4vkb-142875536356.asia-southeast1.run.app"
